@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% - 2rem));
  }
}

@keyframes scroll-reverse {
  0% {
    transform: translateX(calc(-100% - 2rem));
  }
  100% {
    transform: translateX(0);
  }
}

.animate-scroll {
  animation: scroll 120s linear infinite;
}

.animate-scroll-reverse {
  animation: scroll-reverse 120s linear infinite;
}

.partner-scroll-container {
  mask-image: linear-gradient(
    to right,
    transparent,
    black 20%,
    black 80%,
    transparent
  );
}